// @/sass/variables.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,500,700,900&display=swap');


$body-font-family: 'Montserrat';
$headings: 'Cinzel';
$typoOptions: display-4, display-3, display-2, display-1, headline, title, subtitle-1, subtitle-2, body-1, body-2, caption, overline;
// , v-list-item__title;
#app {
  font-family: $body-font-family, sans-serif !important;
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      font-family: $headings, sans-serif !important;
    }
  }
}